@import url("https://use.typekit.net/srs4gqm.css");

html {
  background-color: black;
  color: white;
  font-family: 'paralucent', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
}

header {
  display: flex;
  justify-content: space-between;
}

::selection {
  background-color: blue;
  color: lightgreen;
}

.ar_view {
  display: none;
}

a {
  display: block;
  color: white;
  text-decoration: none;
}

.home_header {
  font-weight: 500;
}

.sketch_3d_desktop {
  visibility: visible;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.sketch_3d_mobile {
  visibility: hidden;
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 85vw;
}

.view_all {
  margin-bottom: 3vh;
  font-size: 0.85rem;
  text-align: center;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

@media only screen and (max-height: 897px) and (orientation: portrait) {

  html {
    font-size: 1.3rem;
  }

  .sketch_3d_desktop {
    visibility: hidden;
    display: none;
  }

  .sketch_3d_mobile {
    visibility: visible;
    display: flex;
    justify-content: center;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 5vh;
  }

  header {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ar_view {
    display: block;
  }


}
