
body {
  background-color:  #c5b6b6;
  margin: 0;
  width: 90vw;
}

ul {
  list-style-type: none;
 }

 li {
   margin-top: 2vh;
   margin-bottom: 2vh;
 }

img {
   margin-left: 2vh;
   height: auto;

 }

button {
  cursor: pointer;
  background-color: darkgray;
}

.data_images {
  width: 25vw;
  height: 25vh;
  object-fit: cover;
}

#data_imgs_flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 5vh;
}
